_M = {}

-- NOTE: the below configs allow for running local instance
--       of certify with mysql on the same node.
--       This is desirable for testing, but for for production
--       deployment. You may copy this file as is to config.lua
--       to get started

_M.mysql = {
    auth = {
        host            = "db",
        port            = 3306,
        user            = "yui_u",
        password        = "yui_p",
        database        = "yui",
        charset         = "utf8",
        ssl             = true,
        max_packet_size = 1024 * 1024,
    },
    table = {
        cert  = "ssl_certs",
        key   = "ssl_keys",
    }
}
_M.shell = {
    args = {
        socket  = "unix:/tmp/sockproc.sock"
    }
}
_M.security = {
    root_auth = "test_auth"
}

_M.log = {
    driver = "udp",
    host = "127.0.0.1",
    port = 5555
}
return _M
